<ActionBar>
    <Label text="File System"></Label>

</ActionBar>

<GridLayout>

    <StackLayout>
        <ListView height="550" [items]="files">
            <ng-template let-item="item" let-i="index">
                <StackLayout>
                    <Label [text]="item.name" class="list-group-item"></Label>
                    <Label [text]="item.path" class="list-group-item"></Label>
                    <Label [text]="item.lastModified" class="list-group-item"></Label>
                </StackLayout>


            </ng-template>
        </ListView>

        <Button text="Open Drawer" (tap)="onOpenDrawer()"> </Button>

    </StackLayout>
</GridLayout>