<RadSideDrawer #sideDrawer>
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <StackLayout class="sidedrawer-header">
    
    </StackLayout>
    <StackLayout class="sidedrawer-content">
      <StackLayout class="sidedrawer-list-item">
        <Button class="btn btn-primary sidedrawer-list-item-text"></Button>
      </StackLayout>
      <StackLayout class="sidedrawer-list-item">
        <Button class="btn btn-primary sidedrawer-list-item-text" text="Camera" (tap)="navigateToCamera()"></Button>
      </StackLayout>
      <StackLayout class="sidedrawer-list-item">
        <Button class="btn btn-primary sidedrawer-list-item-text" text="File System" (tap)="navigateToFile()"></Button>
      </StackLayout>
      <StackLayout class="sidedrawer-list-item">
        <Button class="btn btn-primary sidedrawer-list-item-text" text="Orientation" (tap)="navigateToOrientation()"></Button>
      </StackLayout>
      <StackLayout class="sidedrawer-list-item">
        <Button class="btn btn-primary sidedrawer-list-item-text" text="Picker" (tap)="navigateToPicker()"></Button>
      </StackLayout>
    </StackLayout>
  </StackLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>

